
html,body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    color: #CCCCCC;
}

header {
    width: 100%;
    margin-top:0  ;
    height:480px;
    background: url(../img/imagelicorne.jpg);
    background-size: cover;
    background-position: center;

}

section, footer {
    width: 100%;
    margin: 0;
    min-height: 40%;
    max-height: 50%;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
}

footer {
    background-color: #0c0c3a;
    height: 40px;
    max-height: 40px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

section {
    text-align: center;
}

p, a {

    text-decoration: none;
    font-size: 1.2rem;
}

section:nth-of-type(odd) {
    background-color: cornflowerblue;
    color: #FFFFFF;
}

section:nth-of-type(even) {
    background-color: #FFFFFF;
    color: #000b6d;
}

#liens {
    height: 60px;
    max-height: 60px;
    padding: 0 5% 0 5%;
    background-color: #0f0f3b;
}

#liens ul {
    margin:0;
    padding: 10px 0 10px 0;
    list-style-type:none;
}

#liens li {
    margin-left: 10px;
    float:left;
}

#liens ul li a {
    font-size: 1em;
    max-font-size: 17px;
    text-transform: uppercase;
    display:block;
    float:left;
    color: #FFFFFF;
}

#liens ul li a:hover {
    background-color: #00a4d1;
}

#liens ul li a:nth-of-type(1) {
    color: #f5f7f9;
}

#now p {
    text-transform: uppercase;
}