
html,body {
    margin:0;
    padding:0;

}

header {
    width: 100%;
    margin-top:0  ;
    height:480px;
    background: url(https://images7.alphacoders.com/423/thumb-1920-423137.jpg) ;
    background-size: cover;
    background-position: center;

}
.haut{
    position:relative;


}

.haut .centrehaut {
    position: relative;
    top: 3% ;
    left: 25%;

}
.haut .centrehaut p {
    color : rgba(107, 105, 105, 0.72);
    font-size: 17px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
}



.liens {
    position: relative;
    left:25%;
    right:25%;
    margin-top:-3.8%;
    text-decoration: none;


}
.liens ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.liens li{
    margin-left:2px;
    float:left;
}

.liens ul li a {
    display:block;
    float:left;

 }



.premier {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    color: #f5f7f9;
    padding:20% 130% 20% 10%;
}
.premier:hover{
    background-color: #00a4d1;
}
.deuxieme{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-left: 220%;
    margin-top:1%;
    padding:30% 165% 30% 140%;


}
.deuxieme:hover{
    background-color: #00a4d1;
}

.troisieme{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-left: 350%;
    padding: 20% 10% 20% 150%;





}
.troisieme:hover{
    background-color: #00a4d1;
}

.now {
    position: relative;
    margin: 7% 45% 0% 25%;
    background-color: #00a4d1;
    padding:0% 0% 10% 0;

}
.now p{
    text-decoration: none;
    font-size: 120%;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    color: #FFFFFF;
    padding:2% 0% 0% 2%;
}