@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;

}
.intro{
    height:100%;
    width:100%;
    margin:auto;
    background: url(https://images7.alphacoders.com/423/thumb-1920-423137.jpg) no-repeat 50% 50%;
    display:table;
    top: 0;
    background-size: cover;

}

.intro .interieur {
    display:table-cell;
    vertical-align: middle;
    width:100%;
    max-width:none;

}

.Contenu{
    max-width:500px;
    margin: 0 auto;
    text-align: center;
}

.h1style{
    font-family: 'BioRhyme', sans-serif;
    color: #f5f7f9;
    font-size: 400%;
}

.button{
    border-radius: 9px;
    font-family:'Oswald',sans-serif;
    color:#FFFFFF;
    font-size:140%;
    padding:10px 20px 10px 20px;
    border: solid #00a4d1 3px;
    text-decoration: none;
}

.button:hover{
    color: #00116d;
    border:solid #000b6d 3px;

}