.liens {
    position: absolute;
    right: 25%;
    left: 25%;
    height: 15%;
    margin-top: -5.5%

}

.liens #programme {
    height: 5%;
    width: 10%;
    display: inline-block;
    color: #00a4d1;
    padding: 5% 15% 7% 3%;
    text-decoration: none;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}

#programme:hover {
    background-color: #00a4d1;
    color: #FFFFFF;
}

#Galerie {
    height: 5%;
    width: 10%;
    display: inline-block;
    color: #00a4d1;
    padding: 5% 10% 7% 12%;
    margin-left: 7%;
    text-decoration: none;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}

#Galerie:hover {
    background-color: #00a4d1;
    color: #FFFFFF;
}

#Demande {
    height: 5%;
    width: 10%;
    display: inline-block;
    float: right;
    color: #00a4d1;
    padding: 5% 8% 7% 10%;
    text-decoration: none;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

}

#Demande:hover {
    background-color: #00a4d1;
    color: #FFFFFF;
}